body {
  font-family: Arial;
}


.container{
  border: 1px solid black;
  height: 200px;
  display:flex;
  justify-content: center;
  text-align: center;
}


p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.div{
  display:flex;
  justify-content: center;
  align-items: center;
}

.box{
  border: 4px solid black;
  border-radius: 20%;
  height: 150px;
  width: 150px;
}

.yellow{
  background: yellow;
  margin-top: 1rem;
}

.green{
  
  background: green;
  margin-top: 1rem;

}

.div1{
  margin-right: .5rem;
}


.div2{
  margin-left: .5rem;
}

.red{
  background-color: red;

}

.blue{
  background-color: rgb(39, 78, 255);
}

.flash{
  background-color: white;
}